<% provide :page_title, 'Home' %>

<% if current_user %>
	<%= form_for(@journal, remote: true) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :content %>
		<%= f.text_area :content %>

		<%= f.submit 'Create Journal', class: 'btn btn-primary' %>
	<% end %>

	<h1>Last 10 Journals</h1>
	<%= # render @journals %>
	<% @journals.each do |journal| %>
		<div class="list-journals">
			<h3><%= journal.title %></h3>
			<p><%= journal.content %></p>
			Posted <%= time_ago_in_words(journal.created_at) %>
			<hr />
		</div>
	<% end %>
<% else %>
	<div class="center jumbotron">
		<h1>Selamat Datang ke ErricApp</h1>
		<h2>
		  This is the home page for the ErricApp application.
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>


	
<!-- <a href="<%= about_path %>">About</a>
<%= link_to('About', about_path) %>
<%= link_to about_path do %>
	<h1>About Loh</h1>
<% end %>
<%= number_to_currency 100000000, unit: 'IDR' %>
<%= pluralize 2, 'datum' %>
<%= date_field_tag :hello %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 
 -->