<% provide :page_title, 'Home' %>
<div class="center jumbotron">
<h1>Selamat Datang ke Travlr</h1>
<h2>
  This is the home page for the Travlr application.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<a href="<%= about_path %>">About</a>
<%= link_to('About', about_path) %>
<%= link_to about_path do %>
	<h1>About Loh</h1>
<% end %>
<%= number_to_currency 100000000, unit: 'IDR' %>
<%= pluralize 2, 'datum' %>
<%= date_field_tag :hello %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
